body {
    margin: 0px 0px auto 0px;
    background-color: whitesmoke;
    text-align: center;
}

.top-container {
    padding-top: 25px;
    position: relative;
    background-color: #E4F9F5;
}
.mountain{
    width: 400px;
}
.profile-pic {
    width: 200px;
}
.varinder {
    font-family: 'Sacramento', cursive;
    font-size: 500%;
    margin-top: 100px;
    margin-bottom: 0;
}
p {
    font-family: 'Merriweather', serif;
}
